{% for user in candidates %}
    <div class="candidate-item">
        <div class="left">
            <h3>
                <a href="#">
                    {{ user.candidate.get_full_name|capfirst }}
                </a>
            </h3>
            <span>
                {{ user.candidate.title|default_if_none:'Job Seeker' }}
            </span>
            <span>
                Il y a {{ user.created|timesince }}
            </span>
            <div class="cmn-link">
                <a href="#">
                    <i class="flaticon-right-arrow one"></i>
                    Voir le profil du candidat
                    <i class="flaticon-right-arrow two"></i>
                </a>
            </div>
        </div>
        <img src="{{ user.candidate.get_avatar_url }}" alt="{{ user.candidate.get_full_name|slugify }}">
    </div>

    {% include "dash/company/partials/_paginate.html" %}
{% empty %}
    <p class="lead text-left">
        Vous n'avez reçu aucune candidature pour le moment.
    </p>
{% endfor %} 