{% extends "_base.html" %} {% load static %} {% block content %}

<div class="row align-items-center">
    <div class="section-title text-center">
        <h2>{{offer.title}}</h2>
    </div>
</div>

<div class="person-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="details-item">
                    <div class="section-title">
                        <h2>Description de l'offre</h2>
                        {{ offer.content|safe}}
                    </div>

                </div>
            </div>

            <div class="col-lg-4">
                <div class="widget-area">
                    <div class="information widget-item">
                        <h3>Information de L'offre</h3>
                        <ul>
                            <!-- <li>
                                <img src="{% static 'img/job-details-icon.png' %}" alt="Details" />
                                <h4>Salary:</h4>
                                <span>$1,500 - $2,000</span>
                            </li>-->
                            <li>
                                <img src="{% static 'img/job-details-icon.png'%}" alt="Details" />
                                <h4>Type D'emploi:</h4>
                                <span>{{offer.offer_type}}</span>
                            </li>
                            <li>
                                <img src="{% static 'img/job-details-icon.png' %}" alt="Details" />
                                <h4>Qualification:</h4>
                                <span>{{offer.education_level}}</span>
                            </li>
                        </ul>
                    </div>


                    {% if user.is_authenticated and user.is_job_seeker %}
                    <div class="download widget-item">
                        <a class="right" href="{% url 'job:new-apply' user.id offer.id %}">Postuler</a>
                    </div>
                    {% else %}
                    <a class="right" href="{% url 'account_login' %}">Connectez-vous avec un compte chercheur d'emploi
                        pour
                        postuler</a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
