{% extends "_base.html" %} {% load static %} {% block content %}
<section class="job-area pb-100 pt-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="section-title">
                    <h2>Nos dernieres offres</h2>
                </div>
            </div>
        </div>
        <div id="container" class="row">

            {% if jobs %}
            {% for job in jobs %}

            <div class="col-sm-6 col-lg-12 mix n">
                <div class="job-item">
                    <a href="{% url 'job:job-detail' job.slug %}">
                        <div class="feature-top-right">
                            <span>Featured</span>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-lg-8">
                                <div class="job-left">
                                    <img src="{% static 'img/home-one/job1.png' %}" alt="Brand">
                                    <h3>{{ job.title }}</h3>
                                    <p>{{ job.user.company|default_if_none:"Xarala" }}</p>
                                    <ul>
                                        <!-- <li>$500 - $1,000 /</li>
                                        <li>month /</li> -->
                                        <li>
                                            <i class="flaticon-appointment"></i> Il y a {{ job.created|timesince }}
                                        </li>
                                        <li>
                                            <i class='bx bx-location-plus'></i>
                                            {{ job.user.address|default_if_none:'Unipro' }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="job-right">
                                    <ul>
                                        <li>
                                            <i class="flaticon-customer"></i> {{ job.job_type.display_choice }}
                                        </li>
                                        <li>
                                            <i class="flaticon-mortarboard"></i>
                                            {{ job.education_level.display_choice }}
                                        </li>
                                        <!-- <li>
                                            <span>Add to bookmarks</span>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %} {% else %}
            <p class="text-center">
                Pas d'offre en ce moment
            </p>
            {% endif %}


        </div>
    </div>
</section>
{% endblock content %}
